[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tensorflow-gpu = "==1.4.0"

[packages]
gan_collection = {editable=true, path = "./../gan_collection"}

[requires]
python_version = "3.6"
